section{
    width: 100%;
    height: 100%;
}

.section_2, .section_4{
    width: 100%;
    padding: 135px 140px;
    box-sizing: border-box;
}

header, footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_inner, .header_inner, .footer_inner{
width: 100%;
height: 100%;
position: relative;
}



@media all and (max-width:450px){

    .section_2, .section_4{
        padding: 50px 20px;
    }

}
