.wrap{
    width: 100%;
}

header{
    height: 80px;
    position: fixed;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
  }
  
  .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
  }
  
  .header_inner img{
    width: 150px;
  }
  
  .header_right{
    display: flex;
    justify-content: space-between;
  }
  
  .sub_menu{
    width: 426px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sub_menu a{
    color: #fff;
    font-size: 16px;
  }
  
  .lang{
    font-size: 14px;
    padding: 7px 25px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    margin-left: 80px;
  }
  
  .menu{
    width: 40px;
    margin-left: 35px;
  }
  
  .menu img{
    width: 100%;
    transform: translateY(4px);
  }
  
  .sub_menu>li{
    position: relative;
  }
  
  .sub_list{
    width: 200%;
    padding: 0 30px;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
  }
  
  .sub_list li{
    line-height: 0px;
    transition: 0.3s;
  }
  
  .sub_menu>li:hover .sub_list{
    opacity: 1;
  }
  
  .sub_menu>li:hover .sub_list li{
    line-height: 50px;
  }

  header .logo{
    margin-bottom: 0;
  }

/* header end */

.section_1{
    height: 100%;
    position: relative;
}

.title_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.banner_title{
    font-size: 74px;
    font-weight: 700;
    margin-bottom: 7px;
}

.banner_title>a{
    color: #fff;
}

.banner_subtitle{
    font-size: 28px;
    font-weight: 400;
}

.banner_mo{
    display: none;
}

/* .section_1 end */

.section_2{
    height: 100%;
}

.con_wrap_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo{
    width: 3%;
    margin-bottom: 50px;
}

.title_2{
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 50px;
}

.title_red_2{
    color: #DD1A1E;
}

.sub{
    font-size: 24px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.9);
    margin-bottom: 40px;
}

#sub_mo{
    display: none;
}

/* .section_2 end */

.section_3{
    height: 697px;
    background-image: url(../img/icon_bg\ copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.con_wrap_3{
    width: 90%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.ul_wrap{
    display: flex;
    width: 50%;
}

.con_wrap_3>.ul_wrap>ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative;
    top: 0; */
}

.con_wrap_3 li{
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.con_title_3{
    font-size: 26px;
    font-weight: 500;
}

.underline{
    width: 49px;
    height: 2px;
    background-color: #DD1A1E;
}

.icon{
    width: 27%;
}

.txt1{
    font-size: 31px;
    font-weight: 500;
    font-family: noto sans kr;
}

.txt2{
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    color: #666;
}

/* .section_3 end */

.section_4{
    height: 100%;
}

.title_wrap_4{
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding-left: 22px;
    box-sizing: border-box;
}

.left_line{
    width: 5px;
    height: 135px;
    background-color: #DD1A1E;
    position: absolute;
    top: 10px;
    left: 0;
}

.title_4{
    font-size: 50px;
    margin-bottom: 5px;
}

.subtitle_4{
    font-size: 26px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.9);
    line-height: 34px;
}

.con_wrap_4{
    width: 100%;
    height: 100%;
    display: flex;
}

.con_wrap_4>ul{
    display: flex;
    flex-direction: column;
}

.con_wrap_4 li{
    width: 497px;
    height: 695px;
    position: relative;
    margin-right: 68px;
    margin-bottom: 68px;
    overflow: hidden;
}

.con_wrap_4 ul:first-child>li{
    width: 518px;
    height: 988px;
}

.con_wrap_4 ul{
    margin-top: 145px;
}

.con_wrap_4 ul:nth-child(2)>li:first-child{
    height: 480px;
}

.con_wrap_4_img{
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
}

.black_box{
    width: 100%;
    height: 695px;
    background-color: #000;
    opacity: 40%;
    transition-duration: 0.5s;
}

#black_box1{
    width: 518px;
    height: 988px;
}

.txt_wrap_4{
    position: absolute;
    bottom: 5%;
    left: 7%;
    color: #fff;
}

.con_title_4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
}

.con_txt_4{
    font-size: 23px;
    font-weight: 400;
}

.circle_img{
    width: 40%;
    position: absolute;
    bottom: -330%;
    left: 2%;
    animation: circle 48s infinite linear ;
    /* opacity: 60%; */
}

.con_wrap_4 li:hover>.black_box{
    opacity: 0;
}

.con_wrap_4 li:hover>img{
    transform: scale(1.05);
}

@keyframes circle{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}

#img_mo{
    display: none;
}

/* .section_4 end */

footer{
    background-color: #000;
  }
  
  .footer_inner{
    padding: 50px 200px;
  }
  
  .icon_wrap{
    display: flex;  
    align-items: flex-end;
  }
  
  .icon_wrap img{
    margin-right: 30px;
  }
  .Flogo{
    width: 200px;
  }
  
  .blog, .youtube{
    width: 25px;
    height: 25px;
  }
  
  .topF{
    width: 100%;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 60px;
  }
  
  .company_wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .company_wrap p{
    font-size: 16px;
    line-height: 24px;
  }
  
  .bottomF{
    display: flex;
    justify-content: space-between;
    color: #808080;
    margin-top: 15px;
  }

  /* footer end */

@media all and (max-width:450px){

    header {
        height: 40px;
      }
    
      .header_inner {
        padding: 0 20px;
      }
    
      .header_inner img {
        width: 70px;
      }
      
      .sub_menu, .lang{
        display: none;
      }
    
      .menu {
        width: unset;
        margin-left: unset;
      }
    
      .menu img {
        width: 15px;
        transform: unset;
      }
    
    /* header end */

    .title_wrap{
        width: 100%;
    }
    
    .banner_title{
        font-size: 35px;
    }
    
    .banner_subtitle{
        font-size: 15px;
    }

    .banner_mo{
        display: block;
    }

    .banner_pc{
        display: none;
    }

    /* .section_1 end */
    
    .logo{
        width: 10%;
        margin-bottom: 25px;
    }
    
    .title_2{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 22px;
        letter-spacing: -0.8px;
    }
    
    .sub{
        font-size: 14px;
        margin-bottom: 22px;
    }

    #sub_pc{
        display: none;
    }

    #sub_mo{
        display: block;
    }
    
    /* .section_2 end */
    
    .section_3{
        height: 697px;
        background-image: url(../img/icon_bg_mo.jpg);
    }
    .con_wrap_3{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-evenly;
        flex-direction: column;
    }
    
    .con_wrap_3 ul{
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .con_wrap_3 ul:nth-child(3){
        margin-bottom: 20px;
    }
    
    .con_wrap_3 li{
        display: flex;
        justify-content: center;
        margin-bottom: 18px;
    }

    .con_wrap_3 li:nth-child(4){
        margin-bottom: 4px;
    }

    .ul_wrap{
        width: 78%;
    }

    .ul_wrap>ul:nth-child(1){
        margin-right: 25px;
    }

    .ul_wrap>ul:nth-child(3){
        margin-right: 25px;
    }
    
    .con_title_3{
        font-size: 15px;
    }
    
    .underline{
        width: 35px;
    }
    
    .icon{
        width: 95%;
    }
    
    .txt1{
        font-size: 18px;
    }
    
    .txt2{
        font-size: 14px;
        line-height: 18px;
        color: #666;
    }
    
    /* .section_3 end */
    
    .section_4{
        height: 100%;
    }
    
    .left_line{
        width: 4px;
        height: 75px;
        position: absolute;
        top: 5px;
        left: 0;
    }
    
    .title_4{
        font-size: 26px;
    }
    
    .subtitle_4{
        font-size: 14px;
        line-height: 18px;
    }
    
    .con_wrap_4{
        display: block;
    }
    
    .con_wrap_4>ul{
        display: flex;
        flex-direction: column;
    }
    
    .con_wrap_4 ul:first-child>li{
        width: 352px;
        height: 195px;
    }

    .con_wrap_4 li{
        width: 352px;
        height: 195px;
        margin-right: unset;
        margin-bottom: unset;
        margin-top: 30px;
    }
    
    .con_wrap_4 ul{
        margin-top: unset;
    }
    
    .con_wrap_4 ul:nth-child(2)>li:first-child{
        height: 195px;
    }
    
    .con_wrap_4_img{
        position: absolute;
        top: 0;
        left: 0;
        transition-duration: 0.5s;
    }
    
    .black_box{
        width: 100%;
        height: 695px;
        background-color: #000;
        opacity: 40%;
        transition-duration: 0.5s;
    }
    
    #black_box1{
        width: 518px;
        height: 988px;
    }
    
    .txt_wrap_4{
        bottom: 8%;
        left: 6%;
        line-height: 16px;
    }
    
    .con_title_4{
        font-size: 15px;
        margin-bottom: unset;
    }
    
    .con_txt_4{
        font-size: 13px;
    }
    
    .circle_img{
        display: none;
    }

    #img_mo{
        display: block;
    }

    #img_pc{
        display: none;
    }

    /* .section_4 end */

    .footer_inner {
        padding: 40px 20px;
        box-sizing: border-box;
      }
    
      .company_wrap {
        align-items: start;
      }
    
      .topF {
        flex-direction: column;
        padding-bottom: 10px;
      }
    
      .icon_wrap {
        margin-bottom: 30px;
      }
    
      .company_wrap p {
        font-size: 12px;
        line-height: 25px;
      }
    
      .bottomF {
        margin-top: 5px;
        flex-direction: column-reverse;
      }
    
      .bottomF p:nth-child(2){
        font-size: 10px;
        margin-bottom: 4px;
      }
    
      .bottomF p:nth-child(1){
        font-size: 12px;
      }

      /* footer end */

}