.sec05 .sec_inner{
  padding: 120px 200px;
  background-color: #fff;
}

.top_wrap5{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}

.title5{
  font-size: 48px;
  font-weight: 700;
}

.top_wrap5 ul{
  display: flex;
  font-size: 26px;
}

.top_wrap5 li{
  margin-left: 34px;
}


.top_wrap5 a{
  color: #666666;
}

.click a{
  color: #DD1A1E;
}



/* bottom wrap5 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.bottom_wrap5{
  width: 100%;
}

.con5{
  width: 100%;
  height: 140px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
}

.noti{
  display: flex;
  align-items: center;
}

.con5 p:first-child{
  font-size: 24px;
  color: #DD1A1E;
}

.con5 p:nth-child(2){
  font-size: 30px;
  margin-left: 60px;
}

.time{
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #666666;
}

.time img{
  width: 20px;
  transform: translateY(2px);
  margin-right: 10px;
}



/* 반응형 390px ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
@media all and (max-width : 390px){
  .sec05 .sec_inner {
    padding: 50px 20px;
    box-sizing: border-box;
  }

  .top_wrap5 {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .title5 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .top_wrap5 ul {
    font-size: 14px;
  }

  .top_wrap5 li {
    margin-left: 0;
    margin-right: 30px;
  }

  .con5 {
    height: 65px;
    padding: 0 10px;
  }
  
  .con5 p:first-child {
    font-size: 12px;
  }

  .con5 p:nth-child(2) {
    font-size: 18px;
    margin-left: 20px;
  }
  
  .time{
    display: none;
  }



}


